#home_hero_section {
  width: 100%;
  height: 100vh;
  padding: 65px 1.5rem 0.5rem;
  overflow: hidden;
}
#home_hero_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(-45deg, #fff7f1, #f1f5ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#home_hero_container h1 {
  font-family: heading-bold;
  font-weight: 700;
  font-size: 4.3rem;
  line-height: 1.1;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(to left, #004dff, #478aff, #004dff);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  overflow: hidden;
}

#home_hero_container p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle;
  color: #000000b3;
  letter-spacing: 0.5px;
  margin-top: 1rem;
}

#home_hero_container p span {
  font-family: para-medium;
  font-weight: 800;
}

#circle1 {
  position: absolute;
  width: 16rem;
  height: 16rem;
  top: -22%;
  right: 15%;
  opacity: 0.9;
  filter: blur(7px);
  rotate: 120deg;
}

#circle2 {
  opacity: 0.9;
  filter: blur(7px);
  width: 15rem;
  height: 15rem;
  position: absolute;
  bottom: -26%;
  left: 7%;
  rotate: 120deg;
}

#circle3 {
  width: 9rem;
  height: 9rem;
  position: absolute;
  top: 4%;
  left: 16%;
}
#circle4 {
  width: 7rem;
  height: 7rem;
  position: absolute;
  bottom: 13%;
  right: 5%;
}

#circle5 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: 12%;
  right: 10%;
}
/* product finder */

#product_finder {
  width: 100%;
  padding: 0.5rem 1.5rem;
}
.button_wrapper_filter {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-y: hidden;
  overflow-x: auto;
}
#product_finder_container .button {
  min-width: 180px !important;
}
#product_finder.hero {
  padding-top: 65px;
}

#product_finder_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 2.5rem 2rem;
}

#product_finder_container h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
}
#product_finder_container p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #000000b3;
}

#dropdown_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}
/* Chrome, Edge, Safari */
#dropdown_container::-webkit-scrollbar {
  height: 2px; /* thin bar */
}

#dropdown_container::-webkit-scrollbar-track {
  background: transparent;
}

#dropdown_container::-webkit-scrollbar-thumb {
  background: #004dff; /* blue thumb */
  border-radius: 10px;
}

.dropdown_box {
  width: 26%;
}
.dropdown_box:nth-child(1) {
  width: 40%;
}

#dropdown_container p {
  font-family: para-regular;
  font-weight: 800;
  font-size: 1rem;
  color: #004dff;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}

#dropdown_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0000004d;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: 
    border-color 0.25s ease,
    box-shadow 0.25s ease,
    transform 0.2s ease;
}

.dropdown.dropdown1{
  z-index: 9999;
}
.dropdown.dropdown2{
  z-index: 999;
}
.dropdown.dropdown3{
  z-index: 99;
}
.dropdown.dropdown4{
  z-index: 98;
}
.dropdown:hover ,.dropdown.open{
  border-color: #004DFF;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.dropdown span {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #000000b3;
}

.dropdown_items {
  clip-path: inset(0 0 100%);
  border-radius: 10px;
  width: 100%;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
  transition: clip-path 0.7s cubic-bezier(0.87, 0, 0.13, 1);
  position: absolute;
  top: 106%;
  left: 0;
  height: 15.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  backdrop-filter: blur(10px);
  overflow-y: auto;
}
.dropdown_items h5:last-child {
  border: none;
}
.dropdown_box:nth-child(1) .dropdown_items.option5 {
  height: 13.5rem;
}
.dropdown_box:nth-child(1) .dropdown_items.option4 {
  height: 11rem;
}
.dropdown_box:nth-child(1) .dropdown_items.option2 {
  height: 5.5rem;
}
.dropdown_box:nth-child(3) .dropdown_items {
  height: 10.6rem;
}
#dropdown_container .dropdown_box:nth-child(2) .dropdown_items{
  height: 10.6rem;
}
.dropdown_items::-webkit-scrollbar {
  display: none;
}
.dropdown.open .dropdown_items {
  clip-path: inset(0 0 0%);
}

.dropdown_items h5 {
  color: #000;
  text-transform: uppercase;
  vertical-align: middle;
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: heading-medium;
  font-size: 0.8rem;
  font-weight: 600;
  position: relative;
  width: 100%;
  padding: 0.8rem 1rem;
  transition: all ease 0.3s;
}
.dropdown_items h5:hover {
  color: #004dff;
}
/* logo section  */

#logo_section {
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.logo_card {
  width: 100%;
  height: 240px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #000000b3;
  border-radius: 20px;
  transition: box-shadow ease 0.6s;
  border-bottom: 1.5px solid #ff7006;
}

.logo_card img {
  width: auto;
  height: 3rem;
  transition: scale ease 0.6s;
  will-change: scale;
}
.logo_card:hover img {
  scale: 1.15;
}
.logo_card:hover {
  box-shadow: 0 4 10 0 #0000001b;
}
.logo_card p {
  transition: scale ease 0.6s;
  will-change: scale;
  cursor: default;
}
.logo_card:hover p {
  scale: 1.06;
}

/* integrated_section */

#integrated_section {
  width: 100%;
  padding: 0.5rem 1.5rem;
}

#integrated_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 2.5rem 2rem;
  display: flex;
  gap: 5%;
  justify-content: space-between;
}
#integrated_details {
  width: 40%;
}
#integrated_details h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
}
#integrated_details p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
  margin-bottom: 2.5rem;
}

/* circle loop */

.circle_container {
  --width: 200px;
  --scale: 0.8;
  --font-size: 0.9rem;
  --previous-gradient: linear-gradient(to left, #004dff, #ff7006);
  --next-gradient: linear-gradient(to left, #ff7006, #004dff);
  --center-gradient: linear-gradient(to left, #004dff, #004dff);
  width: calc(var(--width) * 3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.circle_wrapper {
  width: var(--width);
  height: var(--width);
  background: var(--center-gradient);
  background-color: #004dff !important;
  border-radius: 50%;
  transform: scale(var(--scale));
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: para-regular;
  font-weight: 700;
  font-size: var(--font-size);
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center;
  transition: background-color 0.6s ease;
}

.circle1 {
  position: absolute;
  left: 0;
  background: var(--previous-gradient);
}
.circle2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1);
  background: var(--center-gradient);
}
.circle3 {
  position: absolute;
  right: 0;
  background: var(--next-gradient);
}

.circle11,
.circle22,
.circle33 {
  position: absolute;
  right: 0;
  scale: 0;
  background: var(--next-gradient);
}

/* product_section */

#product_section {
  width: 100%;
  padding: 0.5rem 1.5rem;
}

#product_section_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #e8e8e8;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}
#product_section_title {
  display: flex;
  justify-content: space-between;
}

#product_section_title h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
}
#product_section_title h4 span{
    font-family: heading-medium;
   font-weight: 100;
  font-size: 1.6rem;
  display: inline-block;
}
#product_section_title p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
  margin-bottom: 2.5rem;
}
.product_slider {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  overflow-x: auto;
  padding-bottom: 1.5rem;
}

.slider_wrapper {
  display: flex;
  flex-direction: column;
}

.splide-progress {
  width: 100%;
  height: 3px;
  background: #0000001a;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
  order: 3;
}

.splide-progress-bar {
  height: 100%;
  background: #ff7006; /* your theme color */
  width: 0%;
  transition: width 0.3s ease;
}

.product_card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  flex-shrink: 0;
  cursor: pointer;
  transition: all ease 0.3s;
  text-decoration: none;
}

.product_card:hover {
  box-shadow: 0 4 10 0 #00000033;
}
.product_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product_name {
  font-family: para-bold;
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  color: #000000cc;
}
.product_description {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.8rem;
  flex-wrap: wrap;
  justify-content: center;
}

.product_description span {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #00000080;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  padding: 0.3rem 0.4rem;
  display: flex;
  text-transform: uppercase !important;
}

.product_card img {
  width: 60%;
  height: auto;
  display: block;
  transition: scale ease 0.6s;
  will-change: scale;
}
.product_card:hover img {
  scale: 1.05;
}

.product_info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.product_info p {
  font-family: para-medium;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #0000004d;
}

/* application_section */

#application_section {
  width: 100%;
  padding: 0.5rem 1.5rem;
}

#application_section_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding: 2.5rem 2rem;
}

#application_section_header {
  display: flex;
  justify-content: space-between;
}

#application_section_header h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
}
#application_section_header p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
  margin-bottom: 2.5rem;
}

#application_section_cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.application_card {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 1.5rem;
  border-radius: 20px;
}

.application_card_title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: para-bold;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: #000000cc;
}
.application_card_title img {
  width: 1.5rem;
  height: auto;
}

.application_details {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
}
.application_details p {
  font-family: para-medium;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
  width: 80%;
  margin: 0.5rem 0;
}

.application_details .tags {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.application_details .tag {
  padding: 0.3rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  border-radius: 80px;
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000;
}
.application_details .tag span {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ff7006;
  border-radius: 50%;
}

/* sustainable_section */

#sustainable_section {
  width: 100%;
  padding: 0.5rem 1.5rem;
}

#sustainable_section_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #e8e8e8;
  padding: 2.5rem 2rem;
}

#sustainable_section_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#sustainable_section_header h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
}
#sustainable_section_header p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
  margin-bottom: 2.5rem;
}
#sustainable_section_header > p {
  font-family: heading-medium;
  color: #000000b3;
  font-size: 0.78rem;
  font-weight: 500;
}
#sustainable_section_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
/* Chrome, Edge, Safari */
#sustainable_section_cards::-webkit-scrollbar {
  height: 2px; /* thin */
}

#sustainable_section_cards::-webkit-scrollbar-track {
  background: transparent;
}

#sustainable_section_cards::-webkit-scrollbar-thumb {
  background: #004dff; /* blue */
  border-radius: 10px;
}
.sustainable_section_card {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.5rem;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.sustainable_section_card:hover {
  box-shadow: 0 4 10 0 #00000033;
}
.sustainable_section_card img {
  width: auto;
  height: 150px;
  object-fit: contain;
  will-change: scale;
  transition: scale ease 0.6s;
}
.sustainable_section_card:hover img {
  scale: 1.1;
}
.sustainable_section_card h5 {
  font-family: para-bold;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: #000;
}
.sustainable_section_card p {
  font-family: para-medium;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.3;
  color: #0000004d;
  width: 50%;
  text-align: center;
}
/* latest news  section  */

#latest-news-section {
  width: 100%;
  padding: 0.5rem 1.5rem;
  scroll-margin-top: 65px;
}

#latest_news_section_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
}
.latest_news_dets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.latest_news_dets h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
}
/* .latest_news_dets p {
  font-family: para-bold;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 1.5rem;
} */
.news_arrow {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.news_arrow.active {
  cursor: default;
}
.news_arrow svg {
  color: #ff7006;
  margin-top: 0.1rem;
  display: none;
}
.news_arrow.active svg {
  color: #ff7006;
  margin-top: 0.1rem;
  display: block;
}
.latest_news_dets .news_arrow.active p {
  font-family: para-regular;
  font-weight: 400;
  color: #00000080 !important;
  margin: 0;
}
.latest_news_dets .news_arrow p {
  font-family: para-bold;
  font-weight: 700;
  color: #000;
  transition: all ease 0.3s;
}
.latest_news_dets .news_arrow:hover p {
  color: #004dff;
}

.latest_news_card {
  display: flex;
  width: 55%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.latest_news_card_dets {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}
.latest_news_card_dets h5 {
  font-family: para-bold;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: #000000cc;
  width: 80%;
  margin-bottom: 0.8rem;
}
.latest_news_card_dets p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
}

.latest_news_card_img {
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}

.latest_news_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* gallery_section */

#gallery_section {
  width: 100%;
  padding: 0.5rem 1.5rem;
}

#gallery_section_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #e8e8e8;
  padding: 2.5rem 2rem;
}

#gallery_section_header {
  display: flex;
  justify-content: space-between;
}

#gallery_section_header h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
}
#gallery_section_header p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
  margin-bottom: 2.5rem;
}

#gallery_section_cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
#gallery_section_cards::-webkit-scrollbar {
  height: 2px; /* thin */
}

#gallery_section_cards::-webkit-scrollbar-track {
  background: transparent;
}

#gallery_section_cards::-webkit-scrollbar-thumb {
  background: #004dff; /* blue */
  border-radius: 10px;
}
.gallery_section_card {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.gallery_section_card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: all ease 0.6s;
  will-change: scale;
  filter: grayscale(0);
}

.gallery_section_card:hover img {
  scale: 1.02;
}
#gallery_section_cards:has(.gallery_section_card:hover)
  .gallery_section_card:not(:hover) {
  filter: grayscale(1);
}
.gallery_section_card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0.5rem;
  border-radius: 20px;
}
.gallery_section_card_overlay .overlay_tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  width: 100%;
  padding: 0.8rem 1rem;
  /* background-color: #ff7006;
  color: white; */
  background-color: #fff;
  color: #000;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1;
  font-family: para-medium;
  letter-spacing: 0.8px;
  transition: all ease 0.3s;
  text-decoration: none;
}

.gallery_section_card:hover .overlay_tab {
  background-color: #ff7006;
  color: white;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 480px) {
  #home_hero_section {
    padding: 65px 0.5rem 0.25rem;
  }
  #home_hero_container {
    padding: 1rem;
  }
  #home_hero_container h1 {
    font-size: 2rem;
  }
  #home_hero_container h1 br {
    display: none;
  }
  #circle3 {
    width: 7rem;
    height: 7rem;
    top: 8%;
  }
  #circle4 {
    width: 5rem;
    height: 5rem;
    bottom: 18%;
  }
  #circle5 {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 17.5%;
    right: 28.5%;
  }
  #home_hero_container p {
    font-size: 0.9rem;
  }
  #home_hero_container p br {
    display: none;
  }
  /* product_finder */
  #product_finder {
    width: 100%;
    padding: 0.25rem 0.5rem;
  }
  #product_finder_container {
    padding: 2rem 1rem;
  }
  #product_finder_container h4 {
    font-size: 2rem;
  }
  .dropdown_box {
    width: 100% !important;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .dropdown {
    width: 100%;
  }
  #dropdown_container {
    gap: 2rem;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  #dropdown_wrapper {
    flex-direction: column !important;
    width: 100%;
  }

  /* logo section  */
  #logo_section {
    flex-wrap: wrap;
    gap: 0;
    padding: 0.25rem 0.5rem;
  }
  .logo_card {
    width: calc(50% - 0.25rem);
    margin-bottom: 0.5rem;
    height: 180px;
    text-align: center;
    padding: 1rem;
  }
  .logo_card:last-child,
  .logo_card:nth-last-child(2) {
    margin: 0;
  }

  /* integrated section  */
  #integrated_section {
    padding: 0.25rem 0.5rem;
  }
  #integrated_container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  #integrated_details {
    width: 100%;
  }
  #integrated_details h4 {
    font-size: 2rem;
  }
  #integrated_details p {
    margin-bottom: 1rem;
  }

  .circle_container {
    --width: 105px;
    height: 200px;
    --scale: 0.8;
    --font-size: 0.6rem;
    margin: 0 auto;
  }

  /* product_section */
  #product_section {
    padding: 0.25rem 0.5rem;
  }
  #product_section_container {
    padding: 2rem 1rem;
  }
  #product_section_title {
    flex-direction: column;
  }
  #product_section_title h4 {
    font-size: 2rem;
  }
  #product_section_title p {
    margin-bottom: 1rem;
  }
  .product_card {
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: none !important;
  }
  #product_section .btn_wrap_mobile {
    order: 4;
  }
  .product_description {
    gap: 0.5rem;
  }
  .product_info {
    gap: 0.5rem;
    flex-direction: column;
  }
  .product_info p {
    font-size: 0.7rem;
  }
  .product_description span {
    font-size: 0.6rem;
  }

  .product_slider {
    margin-top: 1rem;
  }
  .product_name {
    font-size: 1.2rem;
  }
  .button_wrapper_filter {
    flex-direction: column;
  }
  .button_wrapper_filter .button {
    width: 100%;
  }
  /* application_section */
  #application_section {
    padding: 0.25rem 0.5rem;
  }
  #application_section_container {
    padding: 2rem 1rem;
  }
  #application_section_header {
    flex-direction: column;
  }
  #application_section_header p {
    margin-bottom: 1rem;
  }
  #application_section_header h4 {
    font-size: 2rem;
  }
  #application_section_cards {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
  }
  .application_details .tags {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .application_details {
    padding-left: 0rem;
    gap: 1rem;
  }
  .application_details p {
    width: 100%;
  }
  /* sustainable_section */
  #sustainable_section {
    padding: 0.25rem 0.5rem;
  }
  #sustainable_section_container {
    padding: 2rem 1rem;
  }
  #sustainable_section_header {
    flex-direction: column;
  }
  #sustainable_section_header h4 {
    font-size: 2rem;
  }
  #sustainable_section_header p {
    margin-bottom: 1rem;
  }
  #sustainable_section_cards {
    grid-template-columns: repeat(3, 90%);
    margin-top: 1rem;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 1rem;
  }
  .sustainable_section_card p {
    width: 90%;
    font-size: 0.7rem;
  }

  .sustainable_section_card {
    height: auto;
    gap: 2rem;
  }
  .sustainable_section_card img {
    width: 60%;
    height: auto;
  }
  .sustainable_section_card h5 {
    text-align: center;
  }
  /* latest_news_section */
  #latest-news-section {
    padding: 0.25rem 0.5rem;
  }
  #latest_news_section_container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .latest_news_dets h4 {
    font-size: 2rem;
  }
  .latest_news_card {
    width: 100%;
    margin-top: 1rem;
    flex-direction: column-reverse;
  }
  .latest_news_card_dets {
    width: 100%;
    padding: 1rem;
  }

  .latest_news_card_img {
    width: 100%;
  }
  .latest_news_card_dets h5 {
    width: 100%;
  }
  .latest_news_card_dets > div {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.3rem;
  }
  .latest_news_dets .news_arrow p br {
    display: none;
  }
  /* gallery_section */
  #gallery_section {
    padding: 0.25rem 0.5rem;
  }
  #gallery_section_container {
    padding: 2rem 1rem;
  }
  #gallery_section_header {
    flex-direction: column;
  }
  #gallery_section_header p {
    margin-bottom: 1rem;
  }
  #gallery_section_header h4 {
    font-size: 2rem;
  }
  #gallery_section_cards {
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    overflow-x: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* Bigger phones + small tablets */
@media (min-width: 480px) and (max-width: 768px) {
  #home_hero_section {
    padding: 65px 1.5rem 0.5rem;
  }
  #home_hero_container {
    padding: 1rem;
  }
  #home_hero_container h1 {
    font-size: 2rem;
  }
  #home_hero_container h1 br {
    display: none;
  }
  #circle3 {
    width: 7rem;
    height: 7rem;
    top: 8%;
  }
  #circle4 {
    width: 5rem;
    height: 5rem;
    bottom: 18%;
  }
  #circle5 {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 17.5%;
    right: 28.5%;
  }
  #home_hero_container p {
    font-size: 0.9rem;
  }
  #home_hero_container p br {
    display: none;
  }
  /* product_finder */
  #product_finder {
    width: 100%;
    padding: 0.5rem 1.5rem;
  }
  #product_finder_container {
    padding: 2rem 1rem;
  }
  #product_finder_container h4 {
    font-size: 2rem;
  }
  .dropdown_box {
    width: calc(50% - 0.5rem) !important;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .dropdown_box:first-child {
    width: 100% !important;
  }
  #dropdown_wrapper {
    width: 100%;
  }
  .dropdown_box:first-child .dropdown {
    width: 50%;
  }
  #dropdown_container {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  /* logo section  */
  #logo_section {
    flex-wrap: wrap;
    gap: 0;
    padding: 0.5rem 1.5rem;
  }
  .logo_card {
    width: calc(50% - 0.25rem);
    margin-bottom: 0.5rem;
    height: 180px;
    text-align: center;
    padding: 1rem;
  }

  /* integrated section  */
  #integrated_section {
    padding: 0.5rem 1.5rem;
  }
  #integrated_container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  #integrated_details {
    width: 100%;
  }
  #integrated_details h4 {
    font-size: 2rem;
  }
  #integrated_process {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
  }
  .process:first-child {
    left: 20%;
  }
  .process:nth-child(3) {
    left: 80%;
  }

  .process span {
    width: 40%;
    text-align: center;
  }
  .process {
    font-size: 0.9rem;
  }
  /* product_section */
  #product_section {
    padding: 0.5rem 1.5rem;
  }
  #product_section_container {
    padding: 2rem 1rem;
  }
  #product_section_title {
    flex-direction: column;
  }
  #product_section_title .button {
    margin-bottom: 1rem;
  }
  #product_section_title h4 {
    font-size: 2rem;
  }
  .product_card {
    gap: 4rem;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
  }
  .product_info {
    gap: 2rem;
  }
  .product_slider {
    margin-top: 1rem;
  }
  .product_name {
    font-size: 1.5rem;
  }
  /* application_section */
  #application_section {
    padding: 0.5rem 1.5rem;
  }
  #application_section_container {
    padding: 2rem 1rem;
  }
  #application_section_header {
    flex-direction: column;
  }
  #application_section_header h4 {
    font-size: 2rem;
  }
  #application_section_cards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
  }
  .application_details .tags {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .application_details {
    padding-left: 0rem;
    gap: 1rem;
  }
  .application_details p {
    width: 100%;
  }
  /* sustainable_section */
  #sustainable_section {
    padding: 0.5rem 1.5rem;
  }
  #sustainable_section_container {
    padding: 2rem 1rem;
  }
  #sustainable_section_header {
    flex-direction: column;
  }
  #sustainable_section_header h4 {
    font-size: 2rem;
  }
  #sustainable_section_cards {
    grid-template-columns: repeat(3, 50%);
    margin-top: 1rem;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 1rem;
  }
  .sustainable_section_card p {
    width: 90%;
  }
  .sustainable_section_card {
    height: 430px;
  }
  /* latest_news_section */
  #latest-news-section {
    padding: 0.5rem 1.5rem;
  }
  #latest_news_section_container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .latest_news_dets h4 {
    font-size: 2rem;
  }
  .latest_news_card {
    width: 100%;
    margin-top: 1rem;
    flex-direction: row;
  }
  .latest_news_card_dets {
    width: 100%;
    padding: 1rem;
  }

  .latest_news_card_img {
    width: 100%;
  }
  .latest_news_card_dets h5 {
    width: 100%;
  }
  /* gallery_section */
  #gallery_section {
    padding: 0.5rem 1.5rem;
  }
  #gallery_section_container {
    padding: 2rem 1rem;
  }
  #gallery_section_header {
    flex-direction: column;
  }
  #gallery_section_header h4 {
    font-size: 2rem;
  }
  #gallery_section_cards {
    grid-template-columns: repeat(3, 45%);
    overflow: hidden;
    overflow-x: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  .circle_container {
    --width: 135px;
    height: 200px;
    --scale: 0.7;
    --font-size: 0.7rem;
    margin: 0 auto;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .product_card {
    width: 100% !important;
    height: 100%;
  }
  .circle_container {
    --width: 160px;
    height: 250px;
    --scale: 0.7;
    --font-size: 0.7rem;
    margin: 0 auto;
  }
}

/* Tablets + small laptops */
@media (min-width: 768px) and (max-width: 1024px) {
  #home_hero_section {
    padding: 65px 1.5rem 0.5rem;
  }
  #home_hero_container {
    padding: 1rem;
  }
  #home_hero_container h1 {
    font-size: 2.5rem;
  }
  #home_hero_container h1 br {
    display: inline-block;
  }
  #circle3 {
    width: 7rem;
    height: 7rem;
    top: 8%;
  }
  #circle4 {
    width: 5rem;
    height: 5rem;
    bottom: 18%;
  }
  #circle5 {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 17.5%;
    right: 28.5%;
  }
  #home_hero_container p {
    font-size: 0.9rem;
    width: 60%;
  }
  #home_hero_container p br {
    display: none;
  }
  /* product_finder */
  #product_finder {
    width: 100%;
    padding: 0.5rem 1.5rem;
  }
  #product_finder_container {
    padding: 2rem 1rem;
  }
  #product_finder_container h4 {
    font-size: 2rem;
  }
  .dropdown_box {
    width: calc(50% - 0.5rem) !important;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .dropdown_box:first-child {
    width: 100% !important;
  }
  #dropdown_wrapper {
    width: 100%;
  }
  .dropdown_box:first-child .dropdown {
    width: 50%;
  }
  #dropdown_container {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  /* logo section  */
  #logo_section {
    flex-wrap: wrap;
    gap: 0;
    padding: 0.5rem 1.5rem;
  }
  .logo_card {
    width: calc(33% - 0.25rem);
    margin-bottom: 0.5rem;
    height: 180px;
    text-align: center;
    padding: 1rem;
  }

  /* integrated section  */
  #integrated_section {
    padding: 0.5rem 1.5rem;
  }
  #integrated_container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  #integrated_details {
    width: 100%;
  }
  #integrated_details h4 {
    font-size: 2rem;
  }
  #integrated_process {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
  }
  .circle_container {
    --width: 200px;
    height: 350px;
    --scale: 0.7;
    --font-size: 0.7rem;
    margin: 0 auto;
  }
  /* product_section */
  #product_section {
    padding: 0.5rem 1.5rem;
  }
  #product_section_container {
    padding: 2rem 1rem;
  }
  #product_section_title {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  #product_section_title h4 {
    font-size: 2rem;
  }
  .product_card {
    gap: 4rem;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
  }
  .product_info {
    flex-direction: column;
    gap: 1rem;
  }
  .product_slider {
    margin-top: 1rem;
  }
  .product_name {
    font-size: 1.5rem;
  }
  /* application_section */
  #application_section {
    padding: 0.5rem 1.5rem;
  }
  #application_section_container {
    padding: 2rem 1rem;
  }
  #application_section_header {
    flex-direction: column;
  }
  #application_section_header h4 {
    font-size: 2rem;
  }
  #application_section_cards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
  }
  .application_details .tags {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .application_details {
    padding-left: 0rem;
    gap: 1rem;
  }
  .application_details p {
    width: 100%;
  }
  /* sustainable_section */
  #sustainable_section {
    padding: 0.5rem 1.5rem;
  }
  #sustainable_section_container {
    padding: 2rem 1rem;
  }
  #sustainable_section_header {
    flex-direction: column;
  }
  #sustainable_section_header h4 {
    font-size: 2rem;
  }
  #sustainable_section_cards {
    grid-template-columns: repeat(3, 45%);
    margin-top: 1rem;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 1rem;
  }
  .sustainable_section_card p {
    width: 90%;
  }
  .sustainable_section_card {
    height: 410px;
  }
  /* latest_news_section */
  #latest-news-section {
    padding: 0.5rem 1.5rem;
  }
  #latest_news_section_container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .latest_news_dets h4 {
    font-size: 2rem;
  }
  .latest_news_card {
    width: 100%;
    margin-top: 1rem;
    flex-direction: row;
  }
  .latest_news_card_dets {
    width: 100%;
    padding: 1rem;
  }

  .latest_news_card_img {
    width: 100%;
  }
  .latest_news_card_dets h5 {
    width: 100%;
  }
  /* gallery_section */
  #gallery_section {
    padding: 0.5rem 1.5rem;
  }
  #gallery_section_container {
    padding: 2rem 1rem;
  }
  #gallery_section_header {
    flex-direction: column;
  }
  #gallery_section_header h4 {
    font-size: 2rem;
  }
  #gallery_section_cards {
    grid-template-columns: repeat(3, 45%);
    overflow: hidden;
    overflow-x: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}
/* Tablets + small laptops */
@media (min-width: 1024px) and (max-width: 1286px) {
  #home_hero_container h1 {
    font-size: 3.6rem;
  }
  .product_card {
    width: 100% !important;
    height: 100%;
    gap: 3rem;
  }
  .logo_card {
    height: 180px;
  }
  .circle_container {
    --width: 170px;
    --scale: 0.7;
    --font-size: 0.8rem;
    margin: 0 auto;
  }
  #circle3 {
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 3%;
    left: 9%;
  }
  #circle2 {
    opacity: 0.9;
    filter: blur(7px);
    width: 15rem;
    height: 15rem;
    position: absolute;
    bottom: -26%;
    left: 5%;
    rotate: 120deg;
  }
  #circle1 {
    opacity: 0.9;
    filter: blur(7px);
    width: 14rem;
    height: 14rem;
    position: absolute;
    top: -22%;
    right: 13%;
    rotate: 120deg;
  }
  #circle4 {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 7%;
    right: 4%;
  }
  #circle5 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 8%;
    right: 10%;
  }
}
