/* product_list */
.product_list {
  width: 100%;
  padding: 1.5rem 3.5rem;
}

.product_list > h5 {
  font-family: para-bold;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  line-height: 1;
  text-transform: uppercase;
  color: #00000033;
  margin-bottom: 1.5rem;
}

.product_list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.product_list_card {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: all ease 0.3s;
}
.product_list_card.active {
  filter: grayscale(1);
  box-shadow: 0 4 10 0 #00000033;
  cursor: not-allowed;
}
.product_list_card:hover {
  box-shadow: 0 4 10 0 #00000033;
}
.product_list_card.active .button {
  cursor: not-allowed;
  pointer-events: none;
}
.product_link {
  text-decoration: none;
}
.product_img_wrap {
  width: 130px;
  height: 130px;
  background-color: #f5f5f5;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 1.5rem;
}
.product_sample_container {
  width: 100%;
  height: 100%;
  position: relative;
}
.product_sample1 {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 12%;
  left: 12%;
  border-radius: 5px;
  transition: all ease 0.3s;
}

.product_list_card:hover .product_sample1 {
  top: calc(100% - 62%);
  left: calc(100% - 62%);
}

.product_list_card:hover .product_sample2 {
  bottom: calc(100% - 62%);
  right: calc(100% - 62%);
}
.product_sample1.center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  box-shadow: 0 0 20 0 #00000036;
}
.product_sample2 {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 12%;
  right: 12%;
  border-radius: 5px;
  box-shadow: 0 0 10 0 #00000059;
  transition: all ease 0.3s;
}

.product_list_dets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.product_list_card_name {
  font-family: para-extrabold;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0.5rem;
}
.product_card_desc {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  line-height: 1;
}

.product_card_desc span {
  background-color: #f5f5f5b3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
  padding: 0.4rem;
  border-radius: 5px;
  color: #00000080;
  /* white-space: nowrap; */
  text-transform: uppercase;
}

/* Mobile */
@media (max-width: 480px) {
  .product_card_desc {
    font-size: 0.65rem;
  }
  .product_list {
    width: 100%;
    padding: 1rem 1rem;
    overflow: hidden;
  }
  .product_list_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .product_list_card_name {
    font-size: 1rem;
  }
  .product_list_dets {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .product_img_wrap {
    width: 120px;
    height: 120px;
  }
  .product_list > h5 {
    font-size: 1.5rem;
  }
}

/* Bigger phones + small tablets */
@media (min-width: 480px) and (max-width: 768px) {
  .product_list {
    width: 100%;
    padding: 1.5rem 1.5rem;
    overflow: hidden;
  }
  .product_list_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .product_list_card_name {
    font-size: 1.5rem;
  }
  .product_list_dets {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .product_img_wrap {
    width: 140px;
    height: 140px;
  }
  .product_list > h5 {
    font-size: 1.5rem;
  }
}

/* Tablets + small laptops */
@media (min-width: 768px) and (max-width: 1024px) {
  .product_list {
    width: 100%;
    padding: 1.5rem 1.5rem;
    overflow: hidden;
  }
  .product_list_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .product_list_card_name {
    font-size: 1.2rem;
  }
  .product_list_dets {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .product_img_wrap {
    width: 120px;
    height: 120px;
  }
  .product_list > h5 {
    font-size: 1.5rem;
  }
}
/* Tablets + small laptops */
@media (min-width: 1024px) and (max-width: 1285px) {
}
